/* VARIABLES */
/* Color choices are based on the banner pic using app "Sip" */
:root {
  --dark-header-footer-background: #1a1c29;
  --light-main-background-color: #cab4a5;
  --pop-of-color: #741e27;
}

/* UNIVERSAL */
* {
  background-color: var(--light-main-background-color);
}

/* HEADER & NAV BAR */
/* display: flex on the entire header container so the two items h1 and .nav-bar can respond to changes in the size of the page */
/* I wanted h1 and .nav-bar to stay as far apart as possible, so my justify-content is set to space between */
header {
  padding: 20px 20px 20px 0px;
  display: flex;
  justify-content: space-between;
  background-color: var(--dark-header-footer-background);
  align-items: center;
}

h1 {
  font-size: 40px;
  width: auto;
  height: auto;
  text-align: center;
  color: var(--light-main-background-color);
  background-color: var(--dark-header-footer-color);
  padding: 10px 10px 10px 30px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-top: 3px solid var(--pop-of-color);
  border-right: 3px solid var(--pop-of-color);
  border-bottom: 3px solid var(--pop-of-color);
}

h1 a {
  color: var(--light-main-background-color);
  background-color: var(--dark-header-footer-color);
}


/* Nav Bar */
/* display: flex on entire container so the individual list items can respond to changes in the page*/
.nav-bar {
  display: flex;
  justify-content: flex-end;
  background-color: var(--dark-header-footer-color);
  align-content: center;
  align-items: center;
}

li {
  padding: 8px;
  text-align: center;
  background-color: var(--dark-header-footer-background);
  margin: 10px;
}

li a {
  background-color: var(--dark-header-footer-background);
  color: var(--light-main-background-color);
  font-size: 18px;
}






/* BANNER PHOTO */
/* The following allows the picture to move with the page and maintain the same aspect ratio */
.banner-pic img {
  width: 100%;
  height: auto;
}

/* MAIN */

.info {
  display: flex;
  margin: 20px;
}

/* Each section is split between the info-title and the info-block (with the content). The title will get the left 20% of the screen, and the info will get what is remaining on the right (80%) */
.info-title {
  width: 20%;
  font-size: 30px;
  border-right: 2px solid var(--pop-of-color);
  padding: 10px;
  text-align: right;
  color: var(--dark-header-footer-background);
}

.info-block {
  width: 80%;
  margin: 10px 20px;
  color: var(--dark-header-footer-background);
  display: flex;
  justify-content: flex-start;
}

.work-samples p {
  width: 100%;
}

.work-samples {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 5px 20px;
}

.featured {
  margin-bottom: 10px;
  width: 100%;
  position: relative;
}

/* The work-sample preview images are getting a 30% opaqueness so that they better match the color scheme of the page AND that upon hover they can become fully opaque */
.featured img {
  width: 100%;
  opacity: .3;
}

.not-featured {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.secondary {
  width: 47%;
  margin-bottom: 10px;
  position: relative;
}

.secondary img {
  width: 100%;
  height: 250px;
  opacity: .3;
  object-fit: cover;
  object-position: top;
}

.work-info,
.work-info > * {
  background-color: var(--light-main-background-color);
}

.work-info {
  width: fit-content;
  padding: 10px;
  border: 4px solid var(--dark-header-footer-background);
  position: relative;
  bottom: 70px;
  left: 15px;
}
.work-info p {
  font-size: 12px;
}

main .info .contact-block {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

main .info .contact-block .info-contact {
  padding: 10px;
}

/* FOOTER */

/* Center the footer info */
footer {
  display: flex;
  justify-content: center;
  margin: 0px 0px 20px 0px;
  background-color: var(--dark-header-footer-background);
  padding: 20px;
}

footer h3 {
  background-color: var(--dark-header-footer-background);
  color: var(--light-main-background-color);
  font-size: 20px;
}





/* MEDIA QUERIES */
/* As the screen gets smaller, the size of the non-featured work-sample previews will decrease, but standardizing their height keeps them uniform */
@media screen and (max-width: 992px) {
  .info .work-samples .secondary img {
    height: 200px;
  }
}

@media screen and (max-width: 768px) {
  /* changing 3 main section headings to be centered on the web-page */
  main {
    flex-direction: column;
    align-items: center;
  }
  main .info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .info .info-title {
    width: auto;
    padding: 0px;
    border: none;
    border-bottom: 2px solid var(--pop-of-color);
    text-align: center;
  }
  /* As the page's main content changes to a column layout, the content in each section needs to be centered under its header */
  .info-block p {
    text-align: center;
  }
  /* keeping the  */
  .work-info {
    width: fit-content;
    padding: 5px;
    border: 3px solid var(--dark-header-footer-background);
    position: relative;
    bottom: 55px;
    left: 10px;
  }
  h5 {
    font-size: 14px;
  }
  .work-info p {
    font-size: 10px;
  }
  .info .work-samples .secondary img {
    height: 150px;
  }
/* Change the contact info to center under "contact me" */
  main .info .contact-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  .info-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 576px) {
  /* As the page switches to a mobile layout, the header goes to a column layout with the .nav-bar being layed out vertically */
  header {
    flex-direction: column;
  }
  h1 {
    border: none;
    border-bottom: 3px solid var(--pop-of-color);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .nav-bar {
    flex-direction: column;
    align-content: center;
    margin-top: 5px;
  }
  li {
    padding: 6px;
  }
  .work-info {
    width:fit-content;
    padding: 6px;
    border: 2px solid var(--dark-header-footer-background);
    position: relative;
    bottom: 45px;
    left: 5px;
  }
  h5 {
    font-size: 12px;
  }
  .work-info p {
    font-size: 8px;
  }
  .info .work-samples .secondary img {
    height: 100px;
  }
}

/* ANIMATIONS */
/* When the list items are hovered upon, they get a border */
header .nav-bar li:hover {
  border: 2px solid var(--pop-of-color);
  border-radius: 7px;
}

/* Discovered that this did NOT work... at all. The images had to be selected specifically as you can see below */
/* img:hover {
  display: none;
} */

/* The work-sample preview images are by default at a 30% opacity, but when hovered upon they become fully opaque */
#work .info-block img:hover {
  opacity: 1;
}

/* Upon hover of the work sample preview images, the info box's border changes color */
a:hover + .work-info {
  border-color: var(--pop-of-color);
  
}

